/* contact.css */

.contactus-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  background-color: #f9f9f9;
  padding: 100px 0;
  /* height: 100vh; */
}

.contact-section {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.desc-contact {
  margin-left: 4rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-right: 1rem;
}
.getintouch {
  margin-right: 2rem;
}

.mail-data {
  padding-top: 1rem;
  margin-left: 9rem;
}

.button-container {
  margin-top: 5px;
}
@media (max-width: 600px) {
  .mail-data {
    padding-top: 1rem;
    margin-left: 5rem;
  }
  .desc-contact {
    margin: 0 20px 0 20px !important;
  }
}
